[package]
# طين is an arabic word for Clay
name = "tin"
version = "1.2.0"
authors = ["azzamsa <vcs@azzamsa.com>"]
categories = ["web-programming"]
edition = "2021"
exclude = ["/README.md"]
keywords = ["boilerplate"]
license = "MIT"
publish = false
repository = "https://github.com/azzamsa/tin"
rust-version = "1.73.0"
description = "Rust GraphQL Template"

[profile.release]
strip = true
opt-level = 'z' # Optimize for size.
codegen-units = 1
lto = true
panic = 'abort'

[dependencies]
axum = "0.7"
hyper = "1.1"
tokio = { version = "1.35.1", features = ["macros", "rt-multi-thread"] }

# GraphQL
async-graphql = { version = "7", features = ["uuid", "chrono"] }
async-graphql-axum = "7"

# Rest
utoipa = { version = "4.1.0", features = ["axum_extras"] }
utoipa-swagger-ui = { version = "5", features = ["axum"] }

# Database
sqlx = { version = "0.7.3", features = ["runtime-tokio-rustls", "postgres", "uuid", "chrono", "migrate"] }

# Logging
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["env-filter", "chrono"] }

# Configurations
dotenv = "0.15.0"

# Misc
base64 = "0.21.5"
chrono = "0.4.31"
frunk = "0.4.2"
frunk_core = { version = "0.4.2" }
serde = "1.0.195"
serde_json = "1.0.111"
thiserror = "1.0.56"
time = "0.3.31"
ulid = { version = "1.1.0", features = ["uuid"] }
url = "2.5.0"
uuid = "1.6.1"

[dev-dependencies]
anyhow = "1.0.79"
cynic = "3.3.1"
mime = "0.3.17"
tower = { version = "0.4.13", features = ["util"] }

[package.metadata.binstall]
pkg-url = "{ repo }/releases/download/v{ version }/{ name }-{ version}-{ target }.tar.gz"
bin-dir = "{ bin }{ binary-ext }"
pkg-fmt = "tgz"

[package.metadata.release]
sign-commit = true
sign-tag = true
tag-message = "v{{version}}"
pre-release-commit-message = "v{{version}}"
pre-release-hook = ["just", "_release-prepare", "{{version}}"]
